<!doctype html>
<html lang="en">
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>

  <head>
    <link rel="shortcut icon" href="/static/favicon.ico" />
      <div class="container">
          <div class="jumbotron">
            
            <div class="text-center" class="text-nowrap">
                <h1>Quieres salir pero no sabes a donde?</h1> 
                <img src="/static/burger.jpg"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  >
                <img src="/static/salir.jpg"  alt="portada2" class="rounded float-right"  width="160" class="img-thumbnail" >
                <p class="font-italic">La siguiente pagina web te mostrara lugares que puedes visitar en Bucaramanga <mark>(con dinero, no son obras de caridad)</mark> para pasar un buen rato comer algo rico o simplemente salir, tomar y olvidarse de los problemas <mark>(hasta que vuelvas a tu miserable vida y te arrepientas de haber malgastado tu dinero)</mark>.</p>  
              <button type="button" class="btn btn-primary btn-lg btn-block" onclick= location.href="http://localhost:5000/restaurantes">Claro que si </button>
              <button type="button" class="btn btn-secondary btn-lg btn-block" onclick= location.href="http://localhost:5000/mojarlasalchicha">Claro que si pero de otro color</button>

              </div>
            
            
          </div>
          
        </div>
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
  </head>
  <body style="background-color:rgb(0, 0, 0);">
    <title>Let's go out</title>
        <div class="container-fluid">
            <div class="text-center" class="text-nowrap">
                
                

              </div>
        </div>
        
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>