<!doctype html>
<html lang="en">
  <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" onclick= location.href="http://localhost:5000">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
                  <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      
                    </li>
                  </ul>
                </div>
              </nav>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Restaurantes vergas</title>
  </head>
  <body style="background-color:rgb(0, 0, 0);">
        <div class="container-fluid">
              </div>
              <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="font-italic" >Restaurantes</th>
                        <th scope="col" class="font-italic">Tipo de comida</th>
                        <th scope="col" class="font-italic">Horario</th>
                        <th scope="col" class="font-italic">Ruta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="text-white">11'S <img src="/static/11.jpg"  alt="portada" class="rounded float-left"  width="100 "  class="img-thumbnail"  ></th>
                        <td class="text-white">Rapida, elegante, lenta (es variadito)</td>
                        <td class="text-white">Desde las 12:00 PM hasta la 1:00 AM</td>
                        <td ><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir/7.1029423,-73.1388324/restaurantes+bucaramanga/@7.1134845,-73.1424341,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8e68155fa4a589e3:0x8a19b03fedf6e7dc!2m2!1d-73.1090968!2d7.1222654">Guiame</button></td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-white">Restaurante Señora Bucaramanga <img src="/static/señora.jpg"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  ></th>
                        <td class="text-white">Comida Tipica Santandereana (Coti)</td>
                        <td class="text-white">Desde las 11:00 AM hasta la media noche</td>
                        <td><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir/7.1029423,-73.1388324/Restaurante+Se%C3%B1ora+Bucaramanga,+Carrera+27,+Bucaramanga,+Santander/@7.1160553,-73.1367733,15z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8e68156444d0f393:0x4aac68a469068e43!2m2!1d-73.119431!2d7.1279407">Donde es?</button></td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-white">Restaurante La Carreta <img src="/static/carreta.jfif"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  ></th>
                        <td class="text-white">Comidas Internacionales y Carnes a la Parrilla </td>
                        <td class="text-white">Desde las 12:00 Pm hasta las 12:00 AM</td>
                        <td><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir/7.1029423,-73.1388324/restaurantes+bucaramanga/@7.1104924,-73.1443359,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8e683fdf1d640a95:0x30cd712c318c92d6!2m2!1d-73.11542!2d7.118547">Me llevas?</button></td>
                      </tr>
                      <tr>
                            <th scope="row" class="text-white">Mia Nonna<img src="/static/Mia.jfif"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  ></th>
                            <td class="text-white">Mamma mia es comida italiana</td>
                            <td class="text-white">Desde las 12:00 PM hasta la 11:00 PM</td>
                            <td><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir//restaurantes+bucaramanga/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x8e683fe7a6014e9d:0x7705e252635488ee?sa=X&ved=2ahUKEwiW8uz1xqHhAhWpslkKHYzsC5MQ9RcwAHoECAEQCQ">Ruta</button></td>
                          </tr>
                          <tr>
                                <th scope="row" class="text-white">Cholula Cocina Mexicana <img src="/static/mexico.jpg"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  ></th>
                                <td class="text-white">creo CREO que comida mexicana aunque no estoy seguro</td>
                                <td class="text-white">Desde las 12:00 PM hasta la 11:00 PM</td>
                                <td><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir//restaurantes+bucaramanga/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x8e683fddd26301c9:0x457b54513ce49?sa=X&ved=2ahUKEwj_xfKLyKHhAhWt11kKHQrpBzIQ9RcwAHoECAEQCA">Saltemos el muro hacia ese alla</button></td>
                              </tr>
                              <tr>
                                    <th scope="row" class="text-white">Restaurante Battuto <img src="/static/battuto.jpg"  alt="portada" class="rounded float-left"  width="180" class="img-thumbnail"  ></th>
                                    <td class="text-white">Otra Italiana</td>
                                    <td class="text-white">Desde las 12:00 PM hasta la 12:00 AM</td>
                                    <td><button type="button" class="btn btn-success" onclick= location.href="https://www.google.com/maps/dir//restaurantes+bucaramanga/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x8e683fe63b1d969b:0xdc95dd0bdff17d85?sa=X&ved=2ahUKEwjxyZmIyaHhAhWnslkKHROkDB8Q9RcwAHoECAEQCQ">Hello there</button></td>
                                  </tr>
                    </tbody>
                  </table>
                  <div class="text-center" class="text-nowrap">
                      <button type="button" class="btn btn-primary btn-lg" onclick= location.href="http://localhost:5000/mojarlasalchicha">Mas Contenido</button>

                  </div>
                  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>